<div id="container">
		<h1>Movies Waiting for Approval</h1>
		<div class="panel panel-primary">
			<h3 class="panel-heading panel-title">Inside Out</h3>
			<div class="panel-body">
				<p>After young Riley is uprooted from her Midwest life and moved to San Francisco, her emotions - Joy, Fear, Anger, Disgust and Sadness - conflict on how best to navigate a new city, house, and school.</p>
				<ul>
					<li>Directed by Pete Docter and Ronnie Del Carmen</li>
					<li>Starring Amy Poehler, Bill Hader, and Lewis Black</li>
					<li>Released 19 June 2015</li>
					<li>Genre: Animation, Adventure, Comedy</li>
				</ul>
				<div class="form-group">
					<label class="control-label col-sm-2.5" for="trailer">Link to Trailer:</label>
					<input type="text" class="form-control" id="trailer" placeholder="Enter Link">			
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2.5" for="purchase">Link to Purchase:</label>
					<input type="text" class="form-control" id="purchase" placeholder="Enter Link">					
				</div>
				<div class="form-group">
					<label for="exampleInputFile">Input Poster</label>
					<input type="file" id="exampleInputFile">
					<p class="help-block">(preferred file type here)</p>
				</div>
			
			</div>
			<div class="panel-footer">
				<button class="btn btn-success" type="submit">Approve</button>
				<button class="btn btn-danger" type="submit">Deny</button>
			</div>
		
		</div>
	</div>


</body>
</html>