<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Request Movie</title>

    <!-- Bootstrap -->
    <link href="vendor/assets/stylesheets/bootstrap.css" media="screen" rel="stylesheet">
	<link href="vendor/assets/stylesheets/site.css" media="screen" rel="stylesheet">
	

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  
	<nav class="navbar navbar-default">
	<div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Not IMDB</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="request.html">Request Movie Addition</a></li>
       
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="sign-up.html">Sign up</a></li>
          </ul>
        </li>
      </ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	</nav>
	
	<div id="container">
		<h1>Request an Addition to our Database</h1>
		<p style="text-align:center;">Is there a movie you wish we had? Help us expand our site!</p>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Movie Title:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="title" placeholder="Enter Title">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2"for="genre">Genre:</label>
				<div class="col-sm-10">
					<select class="form-control" placeholder="Genre">
						<option>Action</option>
						<option>Adventure</option>
						<option>Animated</option>
						<option>Comedy</option>
						<option>Drama</option>
						<option>Romance</option>
						<option>Sci-Fi</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="director">Director:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="director" placeholder="Enter Director">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="first-actor">First Actor:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="first-actor" placeholder="Enter First Actor">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="second-actor">Second Actor:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="second-actor" placeholder="Enter Second Actor">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="third-actor">Third Actor:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="third-actor" placeholder="Enter Third Actor">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="release-year">Release Year:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control year-input" id="release-year" maxlength="4" size="4" placeholder="Year">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2"for="rating">Rating:</label>
				<div class="col-sm-10">
				<select class="form-control" placeholder="Rating">.html_safe
						<option>1/5</option>
						<option>2/5</option>
						<option>3/5</option>
						<option>4/5</option>
						<option>5/5</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="description">Description:</label>
				<div class="col-sm-10">
					<textarea type="text" class="form-control" id="description" placeholder="Enter Description" rows="3"></textarea>.html_safe
				</div>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>

	<% MovieReq.create(id:,title:,director:,actor1:,actor2:,actor3:,releaseyr:,rating: @rating,description:)%> 

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
