
	<div id="container">
		<h1>Request an Addition to our Database</h1>
		<p style="text-align:center;">Is there a movie you wish we had? Help us expand our site!</p>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2" for="title">Movie Title:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="title" placeholder="Enter Title">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2"for="genre">Genre:</label>
				<div class="col-sm-10">
					<select class="form-control" placeholder="Genre">
						<option>Action</option>
						<option>Adventure</option>
						<option>Animated</option>
						<option>Comedy</option>
						<option>Drama</option>
						<option>Romance</option>
						<option>Sci-Fi</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="director">Director:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="director" placeholder="Enter Director">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="first-actor">First Actor:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="first-actor" placeholder="Enter First Actor">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="second-actor">Second Actor:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="second-actor" placeholder="Enter Second Actor">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="third-actor">Third Actor:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="third-actor" placeholder="Enter Third Actor">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="release-year">Release Year:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control year-input" id="release-year" maxlength="4" size="4" placeholder="Year">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2"for="rating">Rating:</label>
				<div class="col-sm-10">
				<select class="form-control" placeholder="Rating">.html_safe
						<option>1/5</option>
						<option>2/5</option>
						<option>3/5</option>
						<option>4/5</option>
						<option>5/5</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="description">Description:</label>
				<div class="col-sm-10">
					<textarea type="text" class="form-control" id="description" placeholder="Enter Description" rows="3"></textarea>.html_safe
				</div>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>

</--  <% MovieReq.create(id:,title:,director:,actor1:,actor2:,actor3:,releaseyr:,rating: @rating,description:) -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
