
	<div id="container">
		<h1>Inside Out</h1>

		<h3>
		<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
		<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
		</h3>


		<div class="row">
			<div class="col-md-4">
				<img src="img/inside_out_poster.jpg">
			</div>
			<div class="col-md-8">
			<p>After young Riley is uprooted from her Midwest life and moved to San Francisco, her emotions - Joy, Fear, Anger, Disgust and Sadness - conflict on how best to navigate a new city, house, and school.</p>
			<ul>
				<li>Directed by Pete Docter and Ronnie Del Carmen</li>
				<li>Starring Amy Poehler, Bill Hader, and Lewis Black</li>
				<li>Released 19 June 2015</li>
				<li>Genre: Animation, Adventure, Comedy</li>
			</ul>
			</div>
		</div>

		<h2>Reviews</h2>
		<div class="commentBox">
			<ul class="commentList">
				<li>
					<div class="commentText">
						<b>John Smith</b>
						<p>Commenting is so much fun.</p> <span class="date sub-text">on October 27th, 2015</span>
					</div>
				</li>
				<li>
					<div class="commentText">
						<b>Ann Anderson</b>
						<p>Hello look at how long this comment is. Wow! I have a lot to say about how fantastic this movie is. I wish I could keep talking forever. Disney movies are my favorite!</p> <span class="date sub-text">on October 5th, 2015</span>
					</div>
				</li>
				<li>
					<div class="commentText">
						<b>Brandon White</b>
						<p>I fell asleep during this movie.</p> <span class="date sub-text">on Septebmer 25th, 2015</span>
					</div>
				</li>
			</ul>
			<form class="form-inline" role="form">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="Add a comment" />
				</div>
				<div class="form-group">
					<button class="btn btn-default">Submit</button>
				</div>
			</form>
		</div>


	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
